<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <Input v-model="value" placeholder="Enter something..." style="width: 300px" />

    <Input v-model="value1" size="large" placeholder="large size" />
    <br>
    <Input v-model="value2" placeholder="default size" />
    <br>
    <Input v-model="value3" size="small" placeholder="small size" />


</div>
<script>
    export default {
        data () {
            return {
                value: ''
            }
        }
    }
</script>

</body>
</html>