<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!-- User Bean -->
    <bean name="user" class="test1.User">

        <property name="name">
            <value>小强</value>
        </property>
        <property name="age">
            <value>26</value>
        </property>
        <property name="sex">
            <value>男</value>
        </property>
    </bean>


    <!-- User Bean -->
    <bean name="user1" class="test2.User">
        <constructor-arg index="0" value="陈凯歌"/>
        <constructor-arg index="1" value="20"/>
        <constructor-arg index="2" value="女"/>
    </bean>

    <bean id="user2" class="test3.User">
        <property name="name">
            <value>小强</value>
        </property>
        <property name="age">
            <value>26</value>
        </property>
        <property name="sex">
            <value>男</value>
        </property>
    </bean>

    <bean name="/main.do" class="test3.Manager">
        <property name="user">
            <ref bean="user2"/>
        </property>
    </bean>



</beans>