<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body class="container">
<br/>
<h1>学生请假记录</h1>
<br/><br/>
<!--<div class="with:80%">-->
    <!--<table class="table table-hover">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>#</th>-->
            <!--<th>stu_number</th>-->
            <!--<th>stu_class</th>-->
            <!--<th>stu_name</th>-->
            <!--<th>qingjia_time</th>-->
            <!--<th>start_time</th>-->
            <!--<th>end_time</th>-->
            <!--<th>qingjia_reason</th>-->
            <!--<th>class_tea_status</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="user : ${userList}">-->
            <!--<th scope="row" th:text="${userListtat.index + 1}">1</th>-->
            <!--<td th:text="${user.userName}">neo</td>-->
            <!--<td th:text="${user.passWord}">Otto</td>-->
            <!--<td th:text="${user.email}">6</td>-->
            <!--<td th:text="${user.nickName}">6</td>-->
            <!--<td th:text="${user.regTime}">6</td>-->
            <!--<td><a th:href="@{/toEdit(id=${user.id})}">edit</a></td>-->
            <!--<td><a th:href="@{/delete(id=${user.id})}">delete</a></td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

<!--</div>-->
<!--<div class="form-group">-->
    <!--<div class="col-sm-2 control-label">-->
        <!--<a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">add</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="modal-footer no-margin-top">-->
    <!--<ul class="pagination pull-right no-margin">-->

        <!--&lt;!&ndash; 首页 &ndash;&gt;-->
        <!--<li>-->
            <!--<a th:href="'/list?pageNum=0'">首页</a>-->
        <!--</li>-->

        <!--&lt;!&ndash; 上一页 &ndash;&gt;-->
        <!--<li th:if="${userList.hasPrevious()}">-->
            <!--<a th:href="'/list?pageNum=' + ${userList.previousPageable().getPageNumber()}" th:text="上一页"></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; 中间页 &ndash;&gt;-->
        <!--<li th:each="pageNum:${#numbers.sequence(0, userList.getTotalPages() - 1)}">-->
            <!--<a th:href="'/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne userList.pageable.getPageNumber()}"></a>-->
            <!--<a th:href="'/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq userList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; 下一页 &ndash;&gt;-->
        <!--<li th:if="${userList.hasNext()}">-->
            <!--<a th:href="'/list?pageNum=' + ${userList.nextPageable().getPageNumber()}" th:text="下一页"></a>-->
        <!--</li>-->

        <!--&lt;!&ndash; 尾页 &ndash;&gt;-->
        <!--<li>-->
            <!--<a th:href="'/list?pageNum=' + ${userList.getTotalPages() - 1}">尾页</a>-->
        <!--</li>-->

    <!--</ul>-->
<!--</div>-->


<!--显示分页信息-->
<div class="modal-footer no-margin-top">
    <div class="col-md-6">
        当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
    </div>



    <div class="with:80%">
    <table class="table table-hover">
    <thead>
    <tr>
    <th>#</th>
    <th>stu_number</th>
    <th>stu_class</th>
    <th>stu_name</th>
    <th>qingjia_time</th>
    <th>start_time</th>
    <th>end_time</th>
    <th>qingjia_reason</th>
    <th>class_tea_status</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="userList" type="java.util.List"*/-->
    <tr th:each="record : ${userList}">
    <th scope="row" th:text="${recordStat.index + 1}">1</th>
    <td th:text="${   }">neo</td>
    <td th:text="${recordStat.}">Otto</td>
    <td th:text="${user.email}">6</td>
    <td th:text="${user.nickName}">6</td>
    <td th:text="${user.regTime}">6</td>
    <!--<td><a th:href="@{/toEdit(id=${user.id})}">edit</a></td>-->
    <!--<td><a th:href="@{/delete(id=${user.id})}">delete</a></td>-->
    </tr>
    </tbody>
    </table>

    </div>



    <ul class="pagination pull-right no-margin">
        <li th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'/usermanage?pageNum=1'">首页</a>
        </li>

        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'/usermanage?pageNum='+${pageInfo.prePage}">
                <i class="ace-icon fa fa-angle-double-left"></i>
            </a>
        </li>
        <!--遍历条数-->
        <li th:each="nav:${pageInfo.navigatepageNums}">
            <a th:href="'/usermanage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
        </li>

        <li class="next" th:if="${pageInfo.hasNextPage}">
            <a th:href="'/usermanage?pageNum='+${pageInfo.nextPage}">
                <i class="ace-icon fa fa-angle-double-right"></i>
            </a>
        </li>

        <li>
            <a th:href="'/usermanage?pageNum='+${pageInfo.pages}">尾页</a>
        </li>
    </ul>
</div>

<div>当前页号：<span th:text="${pageInfo.pageNum}"></span></div>
<div>每页条数：<span th:text="${pageInfo.pageSize}"></span></div>
<div>起始行号：<span th:text="${pageInfo.startRow}"></span></div>
<div>终止行号：<span th:text="${pageInfo.endRow}"></span></div>
<div>总结果数：<span th:text="${pageInfo.total}"></span></div>
<div>总页数：<span th:text="${pageInfo.pages}"></span></div>
<hr />
<div>是否为第一页：<span th:text="${pageInfo.isFirstPage}"></span></div>
<div>是否为最后一页：<span th:text="${pageInfo.isLastPage}"></span></div>
<div>是否有前一页：<span th:text="${pageInfo.hasPreviousPage}"></span></div>
<div>是否有下一页：<span th:text="${pageInfo.hasNextPage}"></span></div>


</body>
</html>
