<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批假界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/regist.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
</head>
<body>
<div  class="reg_user">
    <div id="header">
        <h2>批假事项</h2>
        <div id="app" style="margin-top:60px">
            <i-form style="...">

                <form-item>
                    <i-button type="primary"  @click="func1()" style="...">批示假期</i-button>
                </form-item>
                <form-item>
                    <i-button type="primary"  @click="func2()"  style="...">查看请假记录</i-button>
                </form-item>
                <!--<form-item>-->
                    <!--<i-button type="primary"  @click="func3()"  style="...">我要销假</i-button>-->
                <!--</form-item>-->
            </i-form>
        </div>
    </div>
</div>
<script>
    var Main;
    Main = {
        methods: {
            func1() {

                $.ajax({
                    url:'/Record/pijias',
                    type:'post',
                    success(res){
                        if (res==='pijia') {
                            window.location.href ="/Record/pijia";
                        }

                        else{
                            alert("批假失败!!!")
                        }
                    }
                });


            },
            func2() {
                // $.ajax({
                //     url: '/Record/showrecord',
                //     type: 'post',
                //     success(res) {
                //         if (res==='null') {
                //             alert("请假目前未得到批阅,如若请假请及时与老师联系");
                //         }
                //         else if (res==='-1') {
                //             alert("你的请假未得到老师的批准");
                //
                //         }
                //         else {
                //             alert("假期愉快!!!")
                //         }
                //     }
                // })
                $.ajax({
                    url:'/Record/showrecords',
                    type:'post',
                    success(res){
                        if (res==='demo') {
                            window.location.href ="/Record/showrecord";
                        }

                        else{
                            alert("请求失败!!!")
                        }
                    }
                });
            },


            }

    };
    var Component = Vue.extend(Main);
    new Component().$mount('#app');

</script>


<!--<a href="askforleave.html" class="forget">我要请假</a>-->
<!--<br>-->
<!--<a href="querrystatus.html" class="forget">查询请假状态</a>-->
</body>
</html>