<html lang="en" dir="ltr" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vedio Test</title>
    <link rel="stylesheet"   src="../static/css/stytle.css"> </link>
    <style type="text/css">

        .head{ width:100%; height:100%; margin:50px auto 0 auto; background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590091693551&di=bc8d0389317b3d83eb0134b771e7692f&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F8%2F55402f5ec10bc.jpg) no-repeat; }

    </style>

</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<body class="body1">

<div class="head"></div>

<div   class="login-form">
    <h1>考勤管理系统</h1>
    <div class="form-input">

        <form-item>
            <i-button type="primary" @click="handleReset('formCustom')" style="margin-left: 30px">Reset</i-button>
            <i-button type="primary" @click="f()" style="margin-left: 50px">Submit</i-button>
        </form-item>
        <!--<a href="student.html" class="forget">我是学生</a>-->
    <!--</div>-->

    <!--<div class="form-input"  >-->


        <!--<a href="teacher.html" class="forget">我是老师</a>-->
    </div>

</div>

</body>

</html>










